
{% extends 'base.html' %}

{% block content %}
<h1> How to Find an Elective</h1>
<p>Electives are a great and important way to personalize your study and learn about things that are not covered by ATLAS courses.</p>
<h2>Types of Electives</h2>
<p>There are multiple different types of electives:</p>
<ol>
    <li>
        <strong>A course at the UT: </strong>
         Pretty straightforward, you just follow a course at the UT. In the end, you prove that you learned stuff by hopefully passing the exam of the course.
    </li>
    <li>
        <strong>An online course: </strong>
        You follow an online course (MOOC). Students often choose this option if what they want to learn is not offered anywhere at the UT, but they find a fitting course online. Taking an online course usually includes quite a bit of self-study. You should have a supervisor at the UT that can help you in case you have questions and that can assess you in the end, in case this is not included in the online course. You can approach ATLAS to ask for financial support, in case the course costs money!
    </li>
    <li>
        <strong>A tailored elective</strong>
        : you follow an online course (MOOC). Students often choose this option if what they want to learn is not offered anywhere at the UT, but they find a fitting course online. Taking an online course usually includes quite a bit of self-study. You should have a supervisor at the UT that can help you in case you have questions and that can assess you in the end, in case this is not included in the online course. You can approach ATLAS to ask for financial support, in case the course costs money!
    </li>
</ol>
<h2>Finding the Right Elective</h2>
<p>
    It’s often hard to find the right elective. In the following I’ll give tips on how you can do it. Reading through what other ATLAS students have done in the past by browsing the Elective Database might be inspiring and helpful.
</p>
<h3><strong>A course at the UT</strong></h3>
<p>
    Master students at the UT take regular courses. Often you won’t have the sufficient pre-knowledge to follow a Master’s course. But there have been quite some situations where ATLAS students have followed Master courses, mainly in non-technical disciplines. UT Bachelor students usually take <em>modules</em>. Modules are 15 EC blocks that cover an entire quartile (half a semester). Often, as an ATLAS student, you will be&nbsp;interested in taking Bachelor level courses. Of course, you can’t just follow the entire 15 ECs of a module. However, the modules are usually split up into sub-courses and a project. So even if it’s a 15 EC module, you can often still follow parts of it, e.g. one of the courses offered within the module.
</p>
<p>
    But how do you find out what modules and courses there are? There is a student information system offered by the UT called Osiris. There you can log in with your student number. Osiris has lots of useful functions (you can for example see your current transcript). When you click on “courses” in the menu (“onderwijs” with Dutch settings), there is a search function that enables you to search through the course database of the UT. You can specify a starting block (A1 = first quartile, B1 = second quartile, A2 = third quartile, B2 = fourth quartile) depending on when you want to take the course. You can also specify a faculty or study and the language of instruction. In general, all English-taught Bachelor programs offer modules in English. The majority of Master programs is also English-taught.
</p>
<p>
    On the right in Osiris, you will see an overview of courses and modules that fit your search criteria. If you click on one of the results, you will get more information on the course including content, prerequisite knowledge, course materials, a contact person, the lecturers involved, the type of assessment and more. If you look at the Module map of the UT, you can see at which moment of their study the students take the module you are interested in (so you can find out whether it’s a first, second or third year Bachelor’s course). If you want to know more about a module or course, (e.g. what different courses/parts a module consists of, whether you could join the course) you can just contact the coordinator of the module/course.
</p>
<p>
    The UT also offers minors. Those are modules that are open to students of different programs which often makes them more interdisciplinary than regular modules. Even though they can also be found on Osiris, it might pay off to take a look at the <a style="text-decoration: none;" href="https://www.utwente.nl/en/education/electives/minor/" target="_blank" > minor website </a> of the UT.
</p>
<h3><strong>An online course</strong></h3>
<p>
    Good places to start if you are interested in online courses are Udacity, Coursera, edX, or MIT open courseware. But just google around a bit and you’ll get a good overview yourself. Don’t forget to find a supervisor at the UT that is familiar with the topic and can oversee your work.
</p>
<h3><strong>A tailored elective</strong></h3>
<p>
    With tailored electives, it’s often a good start to approach your mentor or another ATLAS teacher and ask them whether they know anybody working in the field you are interested in. Often, ATLAS teachers themselves could function as the supervisor of your elective. If there is a course/module at the UT with a similar topic, but you can’t take it because it’s offered at the wrong time, you can also check who the coordinators or lecturers of that module are and contact them. In general, finding a supervisor is often a pain in the ass, but once you’ve found a dedicated one, it’s great because you have access to an expert who can really help you to learn exactly what you want to learn.
</p>
<h3>Tips &amp; Tricks</h3>
<ol>
    <li>
      Think about what kind of learner you are. Do you like self-study or does it push you to learn   together with other people?
    </li>  
    <br/>
    <li>
        Talk with your mentor about your elective
      </li>
      <br/>
    <li>
      Inform ATLAS about the elective you are taking. They need to know because of financial reasons.
    </li>
    <br/>
    <li>
      Define your goals and the evidence you will deliver beforehand!
    </li><br/>
    <li>
        You can also just go to a course without actually being enrolled in the course. That’s good for finding out whether it’s what you imagined.
    </li><br/>
    <li>
        Be aware that teaching at other faculties is done very differently. You will probably sit in a lecture hall with a bigger group of students and you are very likely to take an exam.
    </li><br/>
    <li>
        Start early with finding your elective.

    </li><br/>   
     <li>
        Look at the amazing <a style="text-decoration: none;" href="/electives" >EduCo Elective Database</a> for inspiration. It’s an inventory of electives taken by ATLAS students in the past.
    </li><br/>    
</ol>

<br/>
    
{% endblock %}