
/* Elective information */


/* Reviews */
.reviews h3 {
    font-size: 13pt;

}

.reviews p {
    font-size: 12pt;
    margin-bottom: 2px;
}


.review-item {
    margin: 5px;
    padding: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.tr-odd {
    background-color: white;
    padding: 0pt;
}

.tr-even {
    background-color: lightgrey;
    margin: 0pt;
}

