<!DOCTYPE html>
<html>

{% load static %}

<head>
    <title>S.A. Atlantis Elective Database</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block css %} {% endblock %}
</head>
<center>
    
<body>
   <div class="header"> 
       <A href = "/"><img src="https://congressus-sa-atlantis.s3-eu-west-1.amazonaws.com/template/359/logo-sa-atlantis.png" width= "400">  </A>
   </div>
   
         <b>{% include 'navbar.html' %}</b>
    
   <div class="standardfont">
        {% block content %} {% endblock %}
        {% include 'contact.html' %}
   </div>
  

    

</body>

</center>
</html>