<!DOCTYPE html>
<html>
<head>
   <title>S.A. Atlantis Elective Database</title> 
</head>
<style>
    .standardfont{
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 10%;
        border: black;
    }

    .logo_position{
        position: absolute;
        left: 0;
        top: 0;

    }
</style>
<center>
    
<body>
   
    <A class = "logo_position" href = "/"><img src="https://congressus-sa-atlantis.s3-eu-west-1.amazonaws.com/template/359/logo-sa-atlantis.png" width= "500">  </A>
         <b>{% include 'navbar.html' %}</b>
   <div class="standardfont">

        {% block content %} {% endblock %}
        {#include 'contact.html' #}
    </div>
  

    

</body>

</center>
</html>