

<nav>
<style>
    .footer {
        position: absolute;

        padding: 30px 0;
        padding-top: 30px;
        padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px; 
        background-image: url(https://www.sa-atlantis.nl/_media/685091/c32e209e70744015b54846cffbbf2c0f/view);
        color: white;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10;

        
    }
</style>
<div class="footer" >
<h3>Contact us: </h3> 
<p>Email: important.email@gmail.com </p>
<p>Phone: 06:0102030405 </p> 

</div>
<nav>