

<nav>
<style>
    .footer {
        position: fixed;
        padding-top: 30px;
        background-image: url(https://www.sa-atlantis.nl/_media/685091/c32e209e70744015b54846cffbbf2c0f/view);
        background-size: 100% auto;
        color: white;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10;
    }
</style>
<div class="footer">
<h3>Contact us:</h3> 
<p>m.i.bos@student.utwente.nl</p>
<p>t.m.bethe@student.utwente.nl</p>

</div>
</nav>