{% extends 'base.html' %}


{% block content %}
    <h1> Elective database</h1>
    <p> We are Timme Bethe and Mika Bos,</p>
    <p>
        Electives are a great and important way to personalize your study and learn about things that are not covered by ATLAS courses. As student of you ATLAS have a lot of choice, it is difficult to determine what elective fits your academic profile. With this website we hope to ease your choice by having all information, electives and reviews on one place. To help us extend our database, please leave a <a href="/user_review/">review</a> on the electives that you have attended, this will help your fellow students in their future elective choice! 
    </p>
    <p>
        Good luck in your elective choice!
    </p>
  

  
{% endblock %}