<style>
    .navbarstyle {
        position: fixed;
        top: 0;
        left: 0;
        text-align: left;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        padding-top: 300px;
        padding-right:30px;   
    }
    ul {
        list-style: none;
    }

</style>

<nav>
    <div class="navbarstyle">

    <ul>
        <li><a style="text-decoration: none;" href = "/information"> Information </a></li><br>
        <li><a style="text-decoration: none;" href = "/electives"> Electives</a></li><br>

    </ul>
    </div>
</nav>

