<style>
    .navbarstyle{
        position: absolute;
        top: 30%;
        text-align: left;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;


</style>

<nav>
<div class="navbarstyle">

<ul style="list-style: none;">
    <li>
    <a style="text-decoration: none;" href = "/information"> Information </a>
    </li>
    <br>
  
    
    <li>
    <a style="text-decoration: none;" href = "/database"> Database</a>
    </li>
</ul>


        
    
 
</nav>
