{% load static %}

{% if electives %}
    <table style="width:50%">
        <tr>
            <th> Title </th>
            <th> ECs </th>
            <th> Details </th>
        </tr>
        {% for elective in electives %}
        <tr>
            <td> {{ elective.title }} </td>
            <td> {{ elective.numberOfECs }} </td>
            <td style="text-align: center"> <a href="{% url 'electives:detail' elective.id %}"> <img width="25" src="{% static "hyper_link_blue.png" %}" alt="Link"</a></td>
        </tr>
        {% endfor %}
    </table>
    {%  else %}
        <p> No electives are found. </p>
    {% endif %}