{% extends 'base.html' %}

{% block content %}


{#  Search function  #}

    <form id="searchForm" action="{% url 'electives:results' %}" metdod="get" accept-charset="utf-8">
        <table>
            <tr><td>Title:</td><td><input name="title" type="search" ></td></tr>
            <tr><td>Osiris code:</td><td><input name="osiriscode" type="search"></td></tr>
            <tr><td>Number of EC's:</td><td><input name="ec" type="search"></td></tr>
            <tr><td>Keywords:</td><td><input name="keywords" type="search" ></td></tr>
            <tr><td>UT Block:</td>
                <td> <select name="utblock">
                <option value="">-- UT Block --</option>
                     {% for block in utblocks %}
                         <option value="{{ block.0 }}">{{ block.1 }}</option>
                     {% endfor %}
                </select> </td>
            </tr>

            <tr><td>Language:</td>
                <td> <select name="language">
                    <option value="">-- language --</option>
                     {% for block in languages %}
                         <option value="{{ block.0 }}">{{ block.1 }}</option>
                     {% endfor %}
                </select> </td>
            </tr>

            <tr><td>Elective type:</td>
                <td> <select name="electivetype">
                    <option value="">-- Type --</option>
                    {% for block in elective_types %}
                         <option value="{{ block.0 }}">{{ block.1 }}</option>
                     {% endfor %}
                </select> </td>
            </tr>
        </table>
        <button class="searchButton" type="submit">
            <i>Search</i>
        </button>
    </form>

{#  Display all electives  #}

{% include 'elective_search/list_electives.html' with electives=all_electives %}

{% endblock %}
