{% extends 'base.html' %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1>{{ elective.title }}</h1>
<div style="width: 50%">
    <table>
        <tr><td>Osiris code: </td>          <td>{{ elective.osirisCode }}</td></tr>
        <tr><td>Credits (EC): </td>         <td>{{ elective.numberOfECs }}</td></tr>
        <tr><td>Elective Type: </td>        <td>{{ elective.get_electiveType_display }}</td></tr>
        <tr><td>Contact Person: </td>       <td>{{ elective.contactPersonName }}</td></tr>
        <tr><td>E-mail: </td>               <td>{{ elective.contactPersonEmail }}</td></tr>
        <tr><td>UT Starting Block: </td>    <td>{{ elective.get_utBlock_display }}</td></tr>
        <tr><td>Language: </td>             <td>{{ elective.get_language_display }}</td></tr>
        <tr><td>Course Description: </td>   <td>{{ elective.courseDescription }}</td></tr>
        <tr><td>Entry Requirements: </td>   <td>{{ elective.entryRequirements }}</td></tr>
    </table>
</div>
<style>
    .text{
        text-decoration: none;
    }
    .text:hover{
        color: white;
    }

</style>

    {#  Comments  #}   
       <button style=" background-color: #1f81c3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    "
    ><a class="text" href="{% url 'electives:user_review' %}">Submit your review</a>
</button>
<h2>Reviews from your peers:</h2>
<div style="overflow-y:auto; height: 350px; padding: 10px;">
    

    <br></br> 
    {% if elective.get_published_reviews %}
    {% for review in elective.get_published_reviews %}

        <div style="padding: 10px; background: #e8e8e8;">
            <h3>{{ review.reviewerName }}</h3>
            {{ review.reviewerEmail }} <br>
            <table>

    <tr><td> Overall Score: {{ review.overallScore }}</td>                          <td>{{ review.overallScoreExplanation }}</td></tr>
    <tr><td> How challenging was the course? {{ review.challengingScore }} </td>    <td>{{ review.challengingScoreExplanation }}</td></tr>
    <tr><td> How was the workload? {{ review.workloadScore }} </td>                 <td>{{ review.workloadScoreExplanation }}</td></tr>
    <tr><td> Extra comments: </td>                                                  <td>{{ review.additionalComments }}</td></tr>
    <tr><td> What prerequisite knowledge was needed? </td>                          <td>{{ review.prerequisiteKnowledge }}</td></tr>

            </table>
        </div>
        <br>

    {% endfor %}
   
    {% else %}

        <p>This course has no reviews.</p>

    {% endif %}
</div>
{% endblock content %}