{% extends 'base.html' %}

{% load static %}

{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'electives/detail.css' %}">
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1>{{ elective.title }}</h1>

<div>
    <table>
        <tr><td>Osiris code: </td>          <td>{{ elective.osirisCode }}</td></tr>
        <tr><td>Credits (EC): </td>         <td>{{ elective.numberOfECs }}</td></tr>
        <tr><td>Elective Type: </td>        <td>{{ elective.get_electiveType_display }}</td></tr>
        <tr><td>Contact Person: </td>       <td>{{ elective.contactPersonName }}</td></tr>
        <tr><td>E-mail: </td>               <td>{{ elective.contactPersonEmail }}</td></tr>
        <tr><td>UT Starting Block: </td>    <td>{{ elective.get_utBlock_display }}</td></tr>
        <tr><td>Language: </td>             <td>{{ elective.get_language_display }}</td></tr>
        <tr><td>Course Description: </td>   <td>{{ elective.courseDescription }}</td></tr>
        <tr><td>Entry Requirements: </td>   <td>{{ elective.entryRequirements }}</td></tr>
    </table>
</div>

{#  Comments  #}   
<button>
    <a class="text" href="{% url 'electives:user_review' %}">Submit your review</a>
</button>

<h2>Reviews from your peers:</h2>
<div class="reviews">
    {% if elective.get_published_reviews %}
    {% for review in elective.get_published_reviews %}

    <div class="review-item">
            <h3>{{ review.reviewerName }}</h3>
            {{ review.reviewerEmail }} <br>
    <hr>

    <h3>Overall score? (1-10): {{ review.overallScore }}</h3>
    <p><em>Explanation: </em>{{ review.overallScoreExplanation }}</p>

    <h3>How challenging was the course? (1-10): {{ review.challengingScore }}</h3> 
    <p><em>Explanation: </em>{{ review.challengingScoreExplanation }}</p>

    <h3>How was the workload? (1-10): {{ review.workloadScore }}</h3>
    <p><em>Explanation: </em>{{ review.workloadScoreExplanation }}</p>

    <h3>Prerequisite knowledge needed?</h3>
    <p>{{ review.prerequisiteKnowledge }} </p>

    <h3>Extra comments:</h3>
    <p> {{ review.additionalComments }} </p>
            {% comment %} <table>

    <tr class="tr-odd"><td> Overall Score: {{ review.overallScore }}</td>                          <td>{{ review.overallScoreExplanation }}</td></tr>
    <tr class="tr-even"><td> How challenging was the course? {{ review.challengingScore }} </td>    <td>{{ review.challengingScoreExplanation }}</td></tr>
    <tr class="tr-odd"><td> How was the workload? {{ review.workloadScore }} </td>                 <td>{{ review.workloadScoreExplanation }}</td></tr>
    <tr class="tr-even"><td> Extra comments: </td>                                                  <td>{{ review.additionalComments }}</td></tr>
    <tr class="tr-odd"><td> What prerequisite knowledge was needed? </td>                          <td>{{ review.prerequisiteKnowledge }}</td></tr>
            </table> {% endcomment %}
    </div>

    {% endfor %}
   
    {% else %}
        <p>This course has no reviews.</p>
    {% endif %}
</div>
{% endblock content %}
